.jumbotron {
    border-radius: 0;
}

p {
    border-style: solid;
    border-color: rgb(159, 159, 159);
    margin: 5px;
    background: white;
}

.navbar {
    background-color: rgb(255, 92, 92);
    height: 150px;
}

.h1 {
    color: white;
    font-size: 40px;
}

.employee-card {
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    border: none;
}

.card-header {
    background-color: rgb(50, 126, 250);
}

.card-body {
    background-color: rgb(215, 215, 215);
}